/* About */

.about {
	background-color: var(--color-white);
}

/* Container */

.about__container {
	display: flex;
	column-gap: 3.75rem;
	row-gap: 2rem;
	justify-content: space-between;
}

@media (width <= 1024px) {
	.about__container {
		column-gap: 2rem;
	}
}

@media (width <= 768px) {
	.about__container {
		flex-wrap: wrap;
	}
}

@media (width <= 576px) {
	.about__container {
		column-gap: 1rem;
	}
}


/* Content-wrapper */

.about__content-wrapper {
	max-width: 48.75rem;
}

@media (width <= 1024px) {
	.about__content-wrapper {
		max-width: 39.313rem;
	}
}

@media (width <= 992px) {
	.about__content-wrapper {
		max-width: 38rem;
	}
}

@media (width <= 768px) {
	.about__content-wrapper {
		max-width: 100%;
	}
}


/* Title */

.about__title {
	font-weight: 700;
	font-size: var(--font-size-h3);
	line-height: 1.2;
	margin-bottom: 2rem;
}

@media (width <= 576px) {
	.about__title {
		margin-bottom: 1rem;
	}
}

/* Text */

.about__text {
	max-width: 77%;
	margin-bottom: 2rem;
}

@media (width <= 1024px) {
	.about__text {
		max-width: 83%;
		margin-bottom: 1.5rem;
	}
}

@media (width <= 576px) {
	.about__text {
		max-width: 100%;
	}
}



/* Achievements */

.achievements {
	display: flex;
	flex-wrap: wrap;
	column-gap: 3.75rem;
	row-gap: 1rem;
	justify-content: space-between;
}

@media (width <= 1024px) {
	.achievements {
		column-gap: 2rem;
	}
}

@media (width <= 768px) {
	.achievements {
		column-gap: 1rem;
	}
}

/* Item */

.achievements__item {
	min-width: calc(50% - 1.875rem);
	padding-top: 1rem;
	border-top: 1px solid var(--color-lightgray);
}

@media (width <= 1024px) {
	.achievements__item {
		min-width: calc(50% - 1rem);
	}
}

@media (width <= 480px) {
	.achievements__item {
		min-width: 100%;
	}
}

/* Numeric */

.achievements__numeric {
	margin-bottom: 0.25rem;
	padding-top: 1rem;
	font-weight: 400;
	font-size: var(--font-size-numeric);
	line-height: 1.1;
}

/* Text */

.achievements__text {
	font-size: var(--font-size-small);
	line-height: 1.4;
	color: var(--color-lightgray);
}