/* Achievements */

.achievements {
	display: flex;
	justify-content: space-between;
	column-gap: 3.75rem;
	row-gap: 1rem;
	flex-wrap: wrap;
}

@media (width <= 1024px) {
	.achievements {
		column-gap: 2rem;
	}
}

@media (width <= 768px) {
	.achievements {
		column-gap: 1rem;
	}
}

/* Item */

.achievements__item {
	min-width: calc(50% - 1.875rem);
	padding-top: 1rem;
	border-top: 0.063rem solid var(--color-lightgray);
}

@media (width <= 1024px) {
	.achievements__item {
		min-width: calc(50% - 1rem);
	}
}

@media (width <= 480px) {
	.achievements__item {
		min-width: 100%;
	}
}

/* Numeric */

.achievements__numeric {
	margin-bottom: 0.25rem;
	padding-top: 1rem;
	font-weight: 400;
	font-size: var(--font-size-numeric);
	line-height: 1.1;
}

/* Text */

.achievements__text {
	font-size: var(--font-size-small);
	line-height: 1.4;
	color: var(--color-lightgray);
}