/* Advantages */

.advantages {
	background: var(--color-smokewhite);
}

/* Container */

.advantages__container {
	display: flex;
	justify-content: space-between;
	column-gap: 3.75rem;
	row-gap: 2rem;
}

@media (width <= 1024px) {
	.advantages__container {
		column-gap: 2rem;
	}
}

@media (width < 860px) {
	.advantages__container {
		flex-wrap: wrap;
	}
}

@media (width <= 576px) {
	.advantages__container {
		column-gap: 1rem;
	}
}

/* Content-wrapper */

@media (width < 846px) {
	.advantages__content-wrapper {
		max-width: 100%;
	}
}

/* List */

.advantages__list {
	display: flex;
	column-gap: 3.75rem;
	row-gap: 2.5rem;
	flex-wrap: wrap;
}

@media (width <= 1024px) {
	.advantages__list {
		column-gap: 2rem;
		row-gap: 2rem;
	}
}

@media (width <= 768px) {
	.advantages__list {
		row-gap: 1.5rem;
	}
}

/* Item */

.advantages__item {
	max-width: calc(50% - 1.875rem);
}

@media (width <= 1024px) {
	.advantages__item {
		max-width: calc(50% - 1rem);
	}
}

@media (width <= 576px) {
	.advantages__item {
		max-width: 100%;
	}
}

/* Title */

.advantages__title {
	margin-bottom: 0.75rem;
	font-weight: 700;
	font-size: var(--font-size-h5);
	line-height: 1.2;
}