/* Contacts */

.contacts {
	background: var(--color-black);
}

/* Container */

.contacts__container {
	display: flex;
	justify-content: space-between;
	row-gap: 2rem;
}

@media (width <= 678px) {
	.contacts__container {
		flex-wrap: wrap;
	}
}

/* Content-wrapper */

.contacts__content-wrapper {
	display: flex;
	flex: 0 1 calc(50% - 1.875rem);
	justify-content: space-between;
}

@media (width <= 1024px) {
	.contacts__content-wrapper {
		flex: 0 1 calc(50% - 1rem);
	}
}

@media (width <= 576px) {
	.contacts__content-wrapper {
		flex: 0 1 100%;
	}
}

/* Title */

.contacts__title {
	font-weight: 700;
	font-size: var(--font-size-h5);
	line-height: 1.2;
	color: var(--color-white);
	margin-bottom: 1rem;
}

/* Item */

.contacts__item:not(:last-child) {
	margin-bottom: 0.375rem;
}

/* Link */

.contacts__link {
	color: var(--color-lightgray);
}

.contacts__link:hover {
	text-decoration: underline;
}
