/* Container */

.container {
	max-width: calc(75rem + 2rem);
	padding: 7.5rem 1rem;
	margin: 0 auto;
}

/* Tablet */

@media (width <= 1024px) {
	.container {
		max-width: calc(60rem + 4rem);
		padding: 5rem 2rem;
	}
}

@media (width <= 992px) {
	.container {
		max-width: calc(58rem + 4rem);
		padding: 5rem 2rem;
	}
}

@media (width <= 768px) {
	.container {
		max-width: calc(44rem + 4rem);
		padding: 4rem 2rem;
	}
}

/* Mobile */

@media (width <= 576px) {
	.container {
		max-width: calc(33rem + 3rem);
		padding: 2.5rem 1.5rem;
	}
}

@media (width <= 480px) {
	.container {
		max-width: calc(27rem + 3rem);
	}
}

@media (width <= 320px) {
	.container {
		max-width: calc(17rem + 3rem);
	}
}