/* Content-wrapper */

.content-wrapper {
	max-width: 48.75rem;
}

@media (width <= 1024px) {
	.content-wrapper {
		max-width: 39.313rem;
	}
}

@media (width <= 992px) {
	.content-wrapper {
		max-width: 38rem;
	}
}

@media (width <= 860px){
	.content-wrapper {
		max-width: 100%;;
	}
}
