/* Container */

.faq__container {
	display: flex;
	justify-content: space-between;
	column-gap: 3.75rem;
	row-gap: 2rem;
}

@media (width <= 1024px) {
	.faq__container {
		column-gap: 2rem;
	}
}

@media (width <= 860px) {
	.faq__container {
		flex-wrap: wrap;
	}
}

@media (width <= 576px) {
	.faq__container {
		column-gap: 1rem;
	}
}

/* Title */

.faq__title {
	font-weight: 700;
	font-size: var(--font-size-h3);
	line-height: 1.2;
	margin-bottom: 3rem;
}

@media (width <= 1024px) {
	.faq__title {
		margin-bottom: 1.5rem;
	}
}

@media (width <= 576px) {
	.faq__title {
		margin-bottom: 1rem;
	}
}

/* FAQ-drawer */

.faq-drawer {
	margin-bottom: 1.5rem;
}

@media (width <= 1024px) {
	.faq-drawer {
		margin-bottom: 1rem;
	}
}

/* Content-wrapper */

.faq-drawer__content-wrapper {
	max-height: 0;
	transition: 0.25s ease-in-out;
	overflow: hidden;
}

/* Content */

.faq-drawer__content {
	padding-top: 1rem;
}

/* Title */

.faq-drawer__title {
	position: relative;
	display: block;
	margin-bottom: 0;
	padding-top: 1.5rem;
	font-weight: 700;
	font-size: var(--font-size-h5);
	line-height: 1.2;
	border-top: 0.063rem solid var(--color-lightgray);
	transition: all 0.25s ease-out;
	cursor: pointer;
}

@media (width <= 320px) {
	.faq-drawer__title {
		padding-right: 0.5rem;
	}
}

.faq-drawer__title::after {
	content: "";
	position: relative;
	top: 0;
	left: -0.125rem;
	display: inline-block;
	height: 0.625rem;
	width: 0.625rem;
	float: right;
	vertical-align: top;
	border-style: solid;
	border-width: 0.125rem 0.125rem 0 0;
	transform: rotate(135deg);
	transition: 0.35s ease-in-out;
}

@media (width <= 1024px) {
	.faq-drawer__title {
		padding-top: 1rem;
	}
}

@media (width <= 320px) {
	.faq-drawer__title::after {
		top: 0;
		left: 6px;
	}
}

/* OPTIONAL HOVER STATE */

.faq-drawer__title:hover { 
	color: rgba(40, 40, 40, 80%);
}

.faq-drawer__trigger:checked
	+ .faq-drawer__title
	+ .faq-drawer__content-wrapper {
	max-height: 20rem;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
	transform: rotate(-45deg);
	transition: 0.25s ease-in-out;
}