/* Footer */

.footer {
	background: var(--color-black);
}

/* Container */

.footer__container {
	position: relative;
	display: flex;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

@media (width <= 675px) {
	.footer__container {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
}

.footer__container::before {
	position: absolute;
	top: 0;
	left: center;
	width: calc(100% - 5rem);
	height: 0.063rem;
  background: var(--color-lightgray);
	content: "";
}

@media (width <= 1024px) {
	.footer__container::before {
		width: calc(100% - 4rem);
	}
}

@media (width <= 576px) {
	.footer__container::before {
		width: calc(100% - 3rem);
	}
}

/* Copyright */

.footer__copyright {
	padding-top: 0.188rem;
	padding-bottom: 0.188rem;
	font-size: var(--font-size-extra-small);
	line-height: 1.4;
	color: var(--color-lightgray);
}

/* List */

.footer__list {
	display: flex;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	align-items: center;
	gap: 1rem;
}

@media (width <= 500px) {
	.footer__list {
		flex-direction: column-reverse;
	}
}


/* Item */

.footer__item {}

.footer__item--lang {
	display: flex;
	align-items: center;
	column-gap: 0.25rem;
}


/* Link */

.footer__link {
	font-size: var(--font-size-link);
	line-height: 1.4;
	color: var(--color-lightgray);
}

.footer__link--lang {
	color: var(--color-white);
}

.footer__link:hover {
	text-decoration: underline;
}