/* List */

.form__list {
	display: flex;
	margin-bottom: 2.5rem;
	column-gap: 3.75rem;
	row-gap: 2rem;
	flex-wrap: wrap;
}
@media (width <= 1024px) {
	.form__list {
		column-gap: 2rem;
		row-gap: 1.5rem;
	}
}

@media (width <= 992px) {
	.form__list {
		row-gap: 1rem;
	}
}

@media (width <= 576px) {
	.form__list {
		flex-direction: column;
	}
}

/* Item */

.form__item {
	min-width: calc(50% - 1.875rem);
}

@media (width <= 1024px) {
	.form__item {
		min-width: calc(50% - 1rem);
	}
}

@media (width <= 576px) {
	.form__item {
		min-width: 100%;
	}
}

/* Input */

.form__input {
	width: 100%;
	height: 2.5rem;
	font-weight: 700;
	font-size: 0.688rem;
	line-height: 0.75rem;
	letter-spacing: 0.063rem;
	background: transparent;
	border-bottom: 0.063rem solid var(--color-lightgray);
	text-transform: uppercase;
}

/* Bottom-wrapper */

.form__bottom-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 3.75rem;
	row-gap: 2rem;
	flex-wrap: wrap;
}

@media (width <= 1024px) {
	.form__bottom-wrapper {
		column-gap: 2rem;
	}
}

@media (width <= 576px) {
	.form__bottom-wrapper {
		column-gap: 1rem;
	}
}

/* Text */

.form__text {
	max-width: calc(50% - 1.875rem);
	font-size: 1rem;
	line-height: 1.4;
}

@media (width <= 1024px) {
	.form__text {
		max-width: calc(50% - 1rem);
		font-size: 0.75rem;
	}
}

@media (width <= 576px) {
	.form__text {
		min-width: 100%;
		font-size: 0.75rem;
	}
}

@media (width < 360px) {
	.form__text {
		font-size: 0.75rem;
	}
}

/* Link */

.form__link {
	text-decoration: underline;
	color: #0050c3;
}

/* Button */

.form__button {
	display: inline-block;
	min-width: calc(50% - 1.875rem);
	height: 3.875rem;
	font-weight: 600;
	font-size: var(--font-size-btn);
	line-height: 1.4;
	color: var(--color-white);
	background: var(--color-black);
	border-radius: 0.5rem;
}

@media (width <= 1024px) {
	.form__button {
		min-width: calc(50% - 1rem);
		height: 3.5rem;
	}
}

@media (width <= 576px) {
	.form__button {
		min-width: 100%;
	}
}

@media (width < 480px) {
	.form__button {
		height: 3rem;
	}
}