/* Header */

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: var(--color-black);
}

/* Container */

.header__container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* Logo */

.header__logo {
	position: relative;
	z-index: 5;
}

@media (width <= 480px) {
	.logo__icon {
		width: 1.5rem;
		height: 1.5rem;
	}
}

/* Menu */

.header__menu {
	flex: 1 1 auto;
}

/* Links */

.header__links {
	position: relative;
	z-index: 5;
}

@media (width <= 360px) {
	.header__links {
		display: none;
	}
}
