/* Intro */

.intro {
	height: 100vh;
	max-height: 46rem;
	background: url("../../images/intro_bg.webp") left bottom / cover no-repeat
}

@media (width <= 1024px) {
	.intro {
		max-height: 36.25rem;
	}
}

@media (width <= 768px) {
	.intro {
		max-height: 31.5rem;
	}
}

@media (width <= 480px) {
	.intro {
		max-height: 28.563rem;
	}
}

@media (width <= 320px) {
	.intro {
		max-height: 28.375rem;
	}
}


/* Container */

.intro__container {
	padding-top: 12.5rem;
	padding-bottom: 15rem;
}

@media (width <= 1024px) {
	.intro__container {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
}

@media (width <= 768px) {
	.intro__container {
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
	}
}

@media (width = 320px) {
	.intro__container {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}
}

/* Title */

.intro__title {
	max-width: 48.75rem;
	margin-bottom: 1.5rem;
	font-weight: 600;
	font-size: var(--font-size-h1);
	line-height: 1.1;
	color: var(--color-white);
}

@media (width <= 1024px) {
	.intro__title {
		max-width: 39.313rem;
	}
}

@media (width <= 768px) {
	.intro__title {
		max-width: 100%;
	}
}


@media (width <= 640px) {
	.intro__title {
		max-width: 16.063rem;
		margin-bottom: 1rem;
	}
}



/* Description */

.intro__description {
	max-width: 28rem;
	color: var(--color-white);

	margin-bottom: 2.5rem;
}

@media (width <= 1024px) {
	.intro__description {
		margin-bottom: 2rem;
	}
}

@media (width <= 480px) {
	.intro__description {
		max-width: 18.063rem;
		margin-bottom: 1.5rem;
	}
}

/* Button */

@media (width <= 480px) {
	.intro__button {
		max-width: 17rem;
		max-height: 3.5rem;
	}
}

@media (width <= 320px) {
	.intro__button {
		max-width: 100%;
		max-height: 3rem;
	}
}
