/* Notification */

.notification {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	padding: 1rem;
	border: 1px solid #C0ECD4;
	border-radius: 0.5rem;
	background-color: #F1FFF4;
}

@media (width <= 576px) {
	.notification {
		margin-bottom: 1.5rem;
	}
}

/* Message */

.notification__message {
	display: flex;
	align-items: center;
	column-gap: 0.625rem;
}

@media (width <= 360px) {
	.notification__message {
		column-gap: 0.5rem;
	}
}

/* Text */

.notification__text {
	font-size: 1rem;
	line-height: 1.4;
}

