/* Page */

.page {
	color: var(--color-darkgray);
	background-color: var(--color-white);
}

@media (prefers-reduced-motion: no-preference) {
	.page {
		scroll-behavior: smooth;
	}
}

/* Body */

.page__body {
	font-family: var(--font-family);
	font-size: var(--font-size-normal);
	line-height: 1.3;
}

/* Wrapper */

.page__wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}