/* Prices */

.prices {
	background-color: var(--color-smokewhite);
}

/* Container */

.prices__container {
	display: flex;
	column-gap: 3.75rem;
	row-gap: 2rem;
	justify-content: space-between;
}

@media (width <= 1024px) {
	.prices__container {
		column-gap: 2rem;
	}
}

@media (width <= 768px) {
	.prices__container {
		flex-wrap: wrap;
	}
}

@media (width <= 576px) {
	.prices__container {
		column-gap: 1rem;
	}
}

/* Content-wrapper */

.prices__content-wrapper {
	max-width: 48.75rem;
}

@media (width <= 1024px) {
	.prices__content-wrapper {
		max-width: 39.313rem;
	}
}

@media (width <= 992px) {
	.prices__content-wrapper {
		max-width: 38rem;
	}
}

@media (width <= 768px) {
	.prices__content-wrapper {
		max-width: 100%;
	}
}


/* Title */

.prices__title {
	font-weight: 700;
	font-size: var(--font-size-h3);
	line-height: 1.2;
	margin-bottom: 3rem;
}

@media (width <= 1024px) {
	.prices__title {
		margin-bottom: 2rem;
	}
}

@media (width <= 576px) {
	.prices__title {
		margin-bottom: 1.5rem;
	}
}


/* Form */

.form {
}

/* List */

.form__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 3.75rem;
	row-gap: 2rem;
	margin-bottom: 2.5rem;
}

@media (width <= 1024px) {
	.form__list {
		column-gap: 2rem;
		row-gap: 1.5rem;
	}
}

@media (width <= 992px) {
	.form__list {
		column-gap: 2rem;
		row-gap: 1rem;
	}
}

@media (width <= 576px) {
	.form__list {
		flex-direction: column;
	}
}


/* Item */

.form__item {
	min-width: calc(50% - 1.875rem);
}

@media (width <= 1024px) {
	.form__item {
		min-width: calc(50% - 1rem);
	}
}

@media (width <= 576px) {
	.form__item {
		min-width: 100%;
	}
}


/* Input */

.form__input {
	width: 100%;
	height: 2.5rem;
	border-bottom: 1px solid var(--color-lightgray);
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: transparent;
}

/* Bottom-wrapper */

.form__bottom-wrapper {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1.5rem;
	column-gap: 3.75rem;
	justify-content: flex-start;
	align-items: center;
}

@media (width <= 1024px) {
	.form__bottom-wrapper {
		column-gap: 2rem;
	}
}

@media (width <= 576px) {
	.form__bottom-wrapper {
		column-gap: 1rem;
	}
}

/* Text */

.form__text {
	max-width: calc(50% - 1.875rem);
	font-size: 1rem;
	line-height: 1.4;
}

@media (width <= 1024px) {
	.form__text {
		max-width: calc(50% - 1rem);
		font-size: 0.813rem;
	}
}

@media (width <= 576px) {
	.form__text {
		min-width: 100%;
		font-size: 0.875rem;
	}
}

@media (width < 360px) {
	.form__text {
		font-size: 0.75rem;
	}
}


/* Button */

.form__button {
	min-width: calc(50% - 1.875rem);
}

@media (width <= 1024px) {
	.form__button {
		max-width: calc(50% - 1rem);
	}
}

@media (width <= 576px) {
	.form__button {
		min-width: 100%;
	}
}
