/* List */

.socials__list {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Icon */

@media (width <= 480px) {
	.socials__icon {
		width: 1.5rem;
		height: 1.5rem;
	}
}