/* Inter Static */

@font-face {
	font-weight: 400;
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	src:
		url('/fonts/inter-regular.woff2') format('woff2'),
		url('/fonts/inter-regular.woff') format('woff');
}

@font-face {
	font-weight: 500;
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	src:
		url('/fonts/inter-medium.woff2') format('woff2'),
		url('/fonts/inter-medium.woff') format('woff');
}

@font-face {
	font-weight: 700;
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	src:
		url('/fonts/inter-bold.woff2') format('woff2'),
		url('/fonts/inter-bold.woff') format('woff');
}

/* Variables */

:root {
	--font-family: 'Inter', sans-serif;
}

