.button {
	height: 3.875rem;
	width: 20rem;

	font-weight: 600;
	font-size: var(--font-size-btn);
	line-height: 1.4;
	color: var(--color-darkgray);

	background: var(--color-white);
	border-radius: 0.5rem;

	display: inline-block;
}

@media (width < 1024px) {
	.button {
		height: 3.5rem;
	}
}

@media (width <= 640px) {
	.button {
		height: 3rem;
		width: 27rem;
	}
}

/*@media (width = 320px) {
	.button {
		width: 17rem;
	}
}*/


.button:hover {}

.button--black {
	width: 22.5rem;

	color: var(--color-white);
	background: var(--color-black);
}

@media (width <= 1024px) {
	.button--black {
		height: 3.5rem;
		width: 18.688rem;
	}
}

@media (width <= 768px) {
	.button--black {
		width: 21rem;
	}
}

@media (width <= 480px) {
	.button--black {
		width: 100%;
	}
}

@media (width <= 320px) {
	.button--black {
		height: 3rem;
	}
}

